/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

nav {
  background-color: mediumseagreen;
}
/* /not aligned with top and sides of window */
h1 {
  text-align: left;
}

button {

}



html {
  background: url('assets/burger-friends.jpg'); 
  background-size: cover;
}

.left-box {
  background-color: white;
  height: 300px;
  width: 500px;
}

.right-box {
  background-color: white;
  height: 300px;
  width: 500px;
}
/* 
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
} */
